{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
{{ form.media }}
</head>
<body>
{{ user }}
{% if user_authenticated %}
    <p>You are logged in</p>
    <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button type="submit">Log Out</button>
    </form>
    <button onclick="location.href='{% url 'create_content' %}'">Create</button>
{% else %}
    <p>You are not logged in</p>
    <a href="{% url 'login' %}">Sign In</a>
{% endif %}
{% block content %}
{% endblock %}

</body>
</html>