{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
    {{ form.media }}
    <link rel="canonical" href="{{ canonical_path }}">
</head>
<body>
{{ user }}
{% if user_authenticated %}
<p>You are logged in</p>
<form action="{% url 'logout' %}" method="post">
    {% csrf_token %}
    <button type="submit">Log Out</button>
</form>
<button onclick="location.href='{% url 'create_content' %}'">Create</button>
<button onclick="location.href='{% url 'my_content' username=request.user.username %}'">My Content</button>
<button onclick="location.href='{% url 'user_edit' %}'">Profile</button>
{% else %}
<p>You are not logged in</p>
{% if not request.path == "/login" %}
<a href="{% url 'login' %}">Sign In</a>
{% endif %}
{% endif %}
{% block content %}
{% endblock %}

</body>
</html>