{% extends "blog/base.html" %}
{% block title %}{{ content.title }} — Demo Blog{% endblock %}

{% block content %}
<section class="blog-detail">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8 mx-auto">
                <div class="post-block">
                    <div class="blog-credit">
                        <div class="author">
                            <p class="author-name">{{ content.author }}</p>
                        </div>
                        <p class="upload-day">{{ content.date_time_create|date:"F j, Y, H:i" }}</p>
                    </div>
                    <h1 class="blog-detail-title">{{ content.title }}</h1>
                    <div class="control-panel">
                        <a href="{% url 'feed' %}{% if feed_page %}?page={{ feed_page }}{% endif %}">
                            <i class="fas fa-arrow-left"></i> Back to feed
                        </a>
                        <div class="control-panel-right">
                            {% if content.author == request.user.author and content.is_published %}
                            <a href="{% url 'unpublish' slug=content.slug %}?next={{ request.path }}?page={{feed_page}}">
                                <i class="fas fa-eye-slash"></i> Unpublish
                            </a>
                            {% elif content.author == request.user.author and not content.is_published %}
                            <a href="{% url 'publish' slug=content.slug %}?next={{ request.path }}?page={{feed_page}}">
                                <i class="fas fa-eye"></i> Publish
                            </a>
                            {% endif %}
                            {% if content.author == request.user.author %}
                            <a href="{% url 'update' slug=content.slug %}">
                                <i class="fas fa-edit"></i> Edit
                            </a>
                            {% endif %}
                        </div>
                    </div>

                    <div class="user-content">
                        {{ content.text|safe }}
                    </div>
                    <div class="another-posts">
                        {% if has_prev_content %}
                        <a class="arrow-control arrow-prev"
                           href="{% url 'content' slug=prev_content.slug %}{% if feed_page %}?page={{ feed_page }}{% endif %}">
                            <i class="arrow_left"></i>
                        </a>
                        {% endif %}
                        {% if has_next_content %}
                        <a class="arrow-control arrow-next"
                           href="{% url 'content' slug=next_content.slug %}{% if feed_page %}?page={{ feed_page }}{% endif %}">
                            <i class="arrow_right"></i>
                        </a>
                        {% endif %}
                        <div class="row no-gutters">
                            {% if prev_content %}
                            <div class="col-12 col-md-6">
                                <div class="another-post_block prev-post d-flex flex-column justify-content-center align-items-center">
                                    <div class="post-title">
                                        <p>Previous post</p>
                                        <a href="{% url 'content' slug=prev_content.slug %}{% if feed_page %}?page={{ feed_page }}{% endif %}">{{prev_content.title}}</a>
                                    </div>
                                </div>
                            </div>
                            {% else %}
                            <div class="col-12 col-md-6"></div>
                            {% endif %}
                            {% if next_content %}
                            <div class="col-12 col-md-6">
                                <div class="another-post_block text-right next-post d-flex flex-column justify-content-center align-items-center">
                                    <div class="post-title">
                                        <p>Next post</p>
                                        <a href="{% url 'content' slug=next_content.slug %}{% if feed_page %}?page={{ feed_page }}{% endif %}">{{next_content.title}}</a>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    </div>

                    <div class="post-comment">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <h2>Leave a comment</h2>
                            </div>
                            <div class="form-group col-md-6">
                                <div class="comments-count">{{ comments_count }} comment{{ comments_count|pluralize }}</div>
                            </div>
                        </div>

                        <form method="post" action="#comments-end">
                            <div class="form-group">
                                {% csrf_token %}
                                {{ form.as_p }}
                            </div>
                            <div class="button-wrapper">
                                <button class="normal-btn" type="submit">Submit</button>
                            </div>
                        </form>
                        {% if comments %}
                        {% for comment in comments %}
                        <div class="post-credit">
                            <div class="author-date">
                                <h5 class="author-name">{{ comment.author }}</h5>
                                <h5 class="upload-day">{{ comment.date_time_create|date:"F j, Y, H:i" }}</h5>

                            </div>
                            {% if request.user.is_authenticated and comment.author == request.user.author %}
                            <a href="{% url 'delete_comment' pk=comment.pk slug=content.slug %}{% if feed_page %}?page={{ feed_page }}{% endif %}#comments-end"
                               class="delete-icon">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </a>
                            {% endif %}
                        </div>
                        <p>{{ comment.text }}</p>
                        {% empty %}
                        <p>No comments yet.</p>
                        {% endfor %}
                        {% endif %}
                        <div id="comments-end"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}