{% extends "blog/base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<section class="posts blog-index">
    <div class="container">
        <div class="row justify-content-center" id="contents">
            {% include 'blog/includes/partial_feed.html' %}
        </div>
        {% if user.is_authenticated %}
            {% if page_obj.has_next %}
                <div id="load-more-container" class="col-12 text-center">
                    <button class="normal-btn" id="load-more" data-page="2">Load more</button>
                </div>
            {% endif %}
        {% else %}
            <div class="col-12 text-center">
                <a href="{% url 'login' %}" class="normal-btn">Sign up for more</a>
            </div>
        {% endif %}
    </div>
</section>

{% endblock %}
