{% extends 'blog/base.html' %}

{% block title %} Application Login {% endblock %}

{% block content %}

<section class="blog-authentication">
    <div class="container">
        <div class="auth-form">
            <div class="col-12 col-md-6 mx-auto">
                <form method="post">
                    <div class="form-row">
                            <div class="form-group col-md-6">
                                <h2 class="auth-title">Login</h2>
                            </div>
                            <div class="form-group col-md-6">
                                <p class="additional-text"></p>
                            </div>
                        </div>
                    <div class="form-wrapper">
                        {% csrf_token %}
                        {% for field in form %}
                        <div class="form-group">
                            {{ field.label_tag }}
                            {{ field }}
                            {% if field.errors %}
                            {% for error in field.errors %}
                            <div class="error-message"><i class="fa fa-exclamation-triangle"></i>  {{ error }}</div>
                            {% endfor %}
                            {% endif %}
                        </div>
                        {% endfor %}
                    </div>
                    <div class="submit-section">
                        <button class="normal-btn" type="submit">Sign in</button>
                        <p class="signup-link">No account?
                            <a href="{% url 'signup' %}{% if request.GET.next %}?next={{ request.GET.next }}{% endif %}">Sign up</a>
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}
