{% extends "blog/base.html" %}

{% block title %}Edit User Profile{% endblock %}

{% block content %}
{% if messages %}
<p>
    {% for message in messages %}
    {{ message }}
    {% endfor %}
</p>
{% endif %}

<h1>Edit User Profile</h1>
<form method="post">
    {% csrf_token %}
    <p>Email: {{ user_form.email.value }}</p>
    {{ user_form.as_p }}

    <button type="submit" name="save_user">Save</button>
</form>
<h2>Change password</h2>
<form method="post">
    {% csrf_token %}
    {{ password_form.as_p }}
    <button type="submit" name="change_password">Change Password</button>
</form>
{% endblock %}